.list {
  width: 80vh;
  height: 15vh;
  border: 3px solid #fff;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
}

span {
  position: relative;
  height: 20vh;
  padding: 10px;
}
