.list {
  text-align: left;
  width: 120vh;
  height: 8vh;
  border: 3px solid #fff;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
}

.progress {
  margin-top: 15vh;
  color: #c6f68d !important;
}
