@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: 'Jua', sans-serif;
}

body {
  background: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
}

.App-header {
  min-height: 3vh;
}

.App-main {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
